<div id="contactwrap"></div>
<div id="map" style="padding:5px;"></div>
<div class="container mtb">
    <div class="row">
        <div class="col-lg-8">
            <h4>Just Get In Touch!</h4>
            <div class="hline"></div>
                <p>{{ site.about }}</p>
                <form role="form" action="https://formspree.io/Yantrix.pussgrc@gmail.com" method="POST">
                  <div class="form-group">
                    <label for="InputName1">Your Name</label>
                    <input type="text" class="form-control" id="exampleInputName1" name="Name">
                  </div>
                  <div class="form-group">
                    <label for="InputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" name="Reply To">
                  </div>
                  <div class="form-group">
                    <label for="InputSubject1">Subject</label>
                    <input type="text" class="form-control" id="exampleInputSubject1" name="Subject">
                  </div>
                  <div class="form-group">
                    <label for="message1">Message</label>
                    <textarea class="form-control" id="message1" name="message" rows="3"></textarea>
                  </div>
                  <input type="submit" class="btn btn-theme"></input>
                </form>
        </div><! --/col-lg-8 -->

        
    </div><! --/row -->

</div><! --/container -->



<script>

var iterations = 0

var print_board = function (columns) {
  var n = columns.length, row = 0, col = 0
  while (row < n) {
    while (col < n) {
      process.stdout.write(columns[row] === col ? 'Q ' : '# ')
      col++
    }

    process.stdout.write('\n')
    col = 0
    row++
  }
}

var has_conflict = function (columns) {
  var len = columns.length, last = columns[len - 1], previous = len - 2

  while (previous >= 0) {
    if (columns[previous] === last) return true
    if (last - (len - 1) === columns[previous] - previous) return true
    if (last + (len - 1) === columns[previous] + previous) return true
    previous--
  }

  return false
}

var place_next_queen = function (total, queens, columns) {
  if (queens === 0) return columns
  columns = columns || []

  for (var column = 0; column < total; column++) {
    columns.push(column)
    iterations++
    if (!has_conflict(columns) &&
        place_next_queen(total, queens - 1, columns)) {
      return columns
    }
    columns.pop(column)
  }

  return null
}

print_board(place_next_queen(28, 28))
console.log('\niterations: ', iterations)
</script>
