<ul class="list-group">
    <a href="/tag" class="list-group-item ">
        <i class="fa fa-tags fa-fw" aria-hidden="true"></i> <h4 class="sidebar-title">Blog Tag</h4>
	 </a>
<div id="blog-tags">

   
    {% for tag in site.tags | limit: 7 %}
    <a class="list-group-item" href="/tag/">
        {{ tag | first }}
        <span class="badge pull-right">{{ tag[1].size }}</span>
    </a>
    {% endfor %}
    {% if site.tags.size > 7 %}
    <a class="list-group-item" href="/tag">
        &nbsp;
        <span class="pull-right">More...</span>
    </a>
    {% endif %}


</div>
</ul>
<script type="text/javascript">

    $(document).ready(function(){
        $("#blog-tags li").css('text-transform','capitalize')
    });

</script>
